body {
  margin: 10px;
  background-color: lightgrey;
}

.heading {
  display: flex;
  height: 12vh;
  width: 80vw;
  justify-content: center;
  align-items: center;
  background-color: gold;
  margin-bottom: 0.5em;
  filter: drop-shadow(2px 2px 2px black);
  text-shadow: 2px 2px 2px black;
}

#yelp-title {
  font-size: 2vw;
}

#yelp-title:hover {
  cursor: pointer;
}

h1 {
  margin: 0px;
}

h2 {
  margin: 0px;
}

.ind-rest-name {
  font-size: 1.5vw;
  margin: 5px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  align-self: center;
}

.map-nav-area {
  display: flex;
  width: 80vw;
  flex-direction: column;
  align-items: center;
  align-content: center;
  align-self: center;
}

.homepage-nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 2px solid black;
  background-color: gold;
}

.nav-link {
  flex: 0 0 18%;
  padding: 5px;
  text-align: center;
  border: 1px solid black;
}

.nav-link:hover {
  background-color: lightgray;
  font-weight: bold;
}

.restaurant-info-box {
  display: grid;
  grid-template-columns: [first] 1fr [line2] 3fr;
  margin: 5px;
  flex-wrap: wrap;
  border: 1px solid black;
}

.restaurant-info {
  padding: 5px;
  text-align: left;
  border: 1px solid black;
}

.default {
  text-align: center;
  font-weight: bold;
}